body{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image:url("https://i.pinimg.com/564x/d5/4c/c3/d54cc37973797d6f2dbdd3df53391fde.jpg");
}
.container{

    background-color: rgb(119, 167, 251);
    width: 500px;
    height: 300px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 10px 10px 10px rgb(125, 132, 157);
}
.card{

    background-color: rgb(100, 149, 227);
    height: 300px;
 
}
.pregunta_nombre{
    text-align: center;
    font-size: 25px;
}
.pregunta_contenido{

    text-align: center;
}
.pregunta_anunciado{

    background-color: rgb(109, 152, 226);  
    height: 150px;
  }
  
  .pregunta_alternativas{
  
      background-color: rgb(108, 140, 228);
      height: 200px;
      line-height: 1.2px;
}
  button{
    width: 200px;
    font-size:10px;
    margin:5px auto ;
    padding-top: 5px;
    padding-bottom: 5px;
}